// filters
.options {
  .active {
    @extend .bg-black;
    @extend .white;
  }
}

// global card styles
article {
  cursor: grab;

  // tags TODO use get_the_tags() and generate the <a> ourselves rather than this?
  .tags a {
    @extend .link;
    @extend .mr2;
    @extend .dim;
    @extend .mid-gray;
  }
}

// small card
main {
  article {
    max-width: 200px;

    // big card
    &.big {
      max-width: unset;

      > div {
        @extend .flex-row;
      }

      .excerpt {
        @extend .db;
      }
    }
  }
}

// collections
.my-digiped {
  // collection grids
  .collection {
    h3 {
      // this is the control to toggle artifact visibility in a collection
      cursor: pointer;
    }

    // give empty grids a min height so they are able to receive dragged cards
    .relative {
      min-height: 0.1rem;
    }

    // list items
    article {
      @extend .w-100;
      @extend .mh0;
      @extend .pa2;

      .thumbnail,
      .author,
      .tags,
      .excerpt {
        @extend .dn;
      }

      .fa-bars {
        @extend .dib;
      }

      .meta,
      h2 {
        @extend .pa0;
        @extend .ma0;
      }
    }
  }
}
