// collection grids
.collection {
  // give empty grids a min height so they are able to receive dragged cards
  .relative {
    min-height: 0.1rem;
  }
}

// global card styles
article {
  // tags TODO use get_the_tags() and generate the <a> ourselves rather than this?
  .tags a {
    @extend .link;
    @extend .mr2;
    @extend .dim;
    @extend .mid-gray;
  }
}

// small card
main article {
  max-width: 200px; //todo avoid px? need to handle overflow

  .excerpt {
    @extend .dn;
  }
}

// list items
.my-digiped article {
  @extend .db;
  @extend .w-100;
  @extend .ma0;
  @extend .mt1;

  .thumbnail,
  .author,
  .tags,
  .excerpt {
    @extend .dn;
  }

  .meta,
  h2 {
    @extend .pa0;
    @extend .ma0;
  }
}

main article.open,
.my-digiped article.open {
  max-width: unset;

  > div {
    @extend .flex-row;
  }

  img {
    width: 330px; // TODO scaling, px
    height: 370px;
    max-width: unset;
  }

  .excerpt {
    @extend .db;
  }
}
