aside {
  width: 20%;
  padding: 5px;

  .aside-sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 2rem;
  }

  // drop zones
  .my-digiped > div > div {
    min-height: 1rem;
  }

  ul {
    font-size: 0.9rem;
    list-style-type: none;
    padding: 0;

    li {
      padding-bottom: 2rem;
    }
  }
}

.digi-keyword-sidebar {
  width: 20%;
}
