/** Colors */
$brand-primary:         #27ae60;
$footer-bg:             #445b64;
$footer-fg:             #fff;
$header-bg:             $footer-bg;
$header-fg:             $footer-fg;

/** Box Model  */
$spacer:                2rem;
